//General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        to left,
        transparent 0px,
        transparent 20px,
        rgba(burlywood, 0.06) 20px,
        rgba(burlywood, 0.06) 40px,
    );
    background-size: 40px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    color: #55423d;
}

h2 {
    color: #e78fb3;
}

p {
    color: #ffc0ad;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}